<!DOCTYPE html>
<html>
<head>
  <title>Closetx login</title>
  <style>
    body {
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    .login-box {
      background: white;
      border-radius: 6px;
    }
  </style>
</head>
<body>
  <div>
    {{ username }} 
    {{ userid }} <br> <br>
  </div>
  <form action="/closet/post/apparel" method="POST" enctype="multipart/form-data">
    <input id="files" name="image" type="file"><br><br> 
    <input type="hidden" name="userid" value="{{ userid }}">
    <input type="submit" value="Upload">
  </form>
</body>
</html>
